@use '../../../styles/base/variables' as *;

.app-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* espacio para la barra fija inferior */
    padding-bottom: calc(84px + env(safe-area-inset-bottom));
}
@media (max-width: 576px) {
  .app-layout { padding-bottom: calc(64px + env(safe-area-inset-bottom)); }
}

.app-main {
    flex: 1;
}
